body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* * {
  border: 1px solid black;
} */
header {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url(bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  color: gray;
}
.neiRongQu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #f1f1f1;
}
.neiRong {
  height: 600px;
  width: 70%;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.touXiang {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}
.lazy-img {
  filter: blur(20px);
  transition: filter 0.3s ease;
}
.lazy-img.loaded {
  filter: blur(0);
}
.neiRongYiWenZi {
  flex: 1;
  height: 100%;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #eef1ff;
  text-align: center;
  text-justify: center;
  line-height: 30px;
  font-size: 12px;
}
.biaoTiSanNeiRong {
  height: 50px;
  width: 150px;
  display: flex;
}
.biaoTiSiNeiRong {
  display: flex;
  align-items: center;
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 600px) {
  .neiRong {
    height: auto;
    width: 90%;
  }
  .biaoTiSiNeiRong {
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (max-width: 500px) {
    .neiRongYiWenZiHeZi {
      flex-direction: column;
    }
    .neiRongYiWenZi {
      margin-top: 5px;
    }
  }
}
